@import url('./user.css');
@import url('./social.css');
@import url('./about.css');
@import url('./projects.css');
@import url('./footer.css');



* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --primary: #334155;
  --secondary: #2C2D2E;

  --link: #107fd2;
 
  --background-card: #FFF;
  --background-badge: #E6EEF5;
  --background-body: #F2F5F9;

  --shadow-image: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  --shadow-card: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

body {
    background: var(--background-body);

    color: var(--primary);
    font: 400 16px "Inter", sans-serif;
}

.app {
 .app {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  width: 100%;
  max-width: 1366px;
  padding: 0 20px;
  margin: 100px auto 60px;
}
}



.card {
    border-radius: 12px;
    background: var(--background-card);
    box-shadow: var(--shadow-card);
}


.subtitle {
    font-size: 28px;
    font-weight: 600;
}

@media (min-width: 1024px) {
  .app {
    grid-template-columns: 460px 1fr;
    gap: 48px;
  }

  .projects {
    grid-column: 1 / 3;
  }
}